*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial;
}
body{ 
    background:#f4f6fb;
}
.header{
    background:#e6e6e6;
    padding:12px 25px;
    display:flex;
    justify-content:space-between;
}
.logo img{
    height:45px;
}
.icon i{
    margin-left:18px;
    color:#005bff;
    cursor:pointer;
    margin-top: 15px;
    font-size: 20px;
}
.icon i:hover{ 
    color:#c7149a;
 }
.notice-board{
    position:fixed;
    right:0;
    top:160px;
    writing-mode:vertical-rl;
    background:black;
    color:white;
    padding:10px;
}
.topic{
    padding:25px 70px;
    display:flex;
    justify-content:space-between;
}
.topic h1{ 
    color:#005bff;
}
.topic button{
    background:#005bff;
    color:white;
    border:none;
    padding:10px 18px;
    border-radius:6px;
}
.desc{
    background:#eef2ff;
    margin:0 70px;
    padding:20px;
    border-radius:10px;
}
.grid{
    padding:30px 70px;
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:30px;
}
.card{
    background:white;
    border-radius:12px;
    box-shadow:0 4px 12px rgba(0,0,0,0.15);
    overflow:hidden;
}
.card-header{
    background:black;
    color:white;
    padding:12px 18px;
    display:flex;
    justify-content:space-between;
}
.card-body{
     padding:18px; }

iframe{
    width:100%;
    height:250px;
    border-radius:8px;
    justify-content: center;
}
.thread-row{
    display:flex;
    gap:10px;
    justify-content: center;
    
}
.thread-row textarea{
    width:100%;
    height:70px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    padding: 16px;
}
.sub-thread-btn{
    margin:10px 0;
    background:#005bff;
    color:white;
    border:none;
    padding:6px 12px;
}
.editor-toolbar{
    background:#f2f2f2;
    padding:8px;
    display:flex;
    gap:10px;
}
.editor{
    width:100%;
    height:150px;
}
.accordion-header{
    background:#f5f5f5;
    padding:10px;
    display:flex;
    justify-content:space-between;
    cursor:pointer;
}
.accordion-header i{
    transition:transform .3s;
}
.accordion-header.active i{
    transform:rotate(180deg);
}
.accordion-content{
    display:none;
    padding:10px;
}
.accordion-content.show{
    display:block;
}
.side-bar{
  position:fixed;
  left:0;
  top:75px;
  height:50%;
  width:60px;
  background:#fff;
  border-right:1px solid #ddd;
  transition:0.3s;
  overflow:hidden;
}

.side-bar.open{
  width:260px;
}

.arrow{
  position:absolute;
  top:10px;
  left:10px;
  background:#000;
  color:#fff;
  width:24px;
  height:24px;
  display:flex;
  align-items:center;
  justify-content:center;
  cursor:pointer;
}

.step{
  margin-top:60px;
  margin-left:20px;
  width:30px;
  height:30px;
  border:2px solid #4b6cff;
  color:#4b6cff;
  border-radius:8px;
  display:flex;
  align-items:center;
  justify-content:center;
}

.points{
  margin-top:20px;
  margin-left:30px;
  opacity:0;
  transition:0.3s;
}

.side-bar.open .points{
  opacity:1;
}

.points li{
  margin-bottom:10px;
}